"Library/" 
"Temp/" 
"Build/" 
"Obj/" 
"*.csproj" 
"*.unitypackage" 
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
*.csproj
*.unitypackage
*.sln
*.user
*.userprefs
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
obj/
*.csproj
*.sln
